.panel-wrapper{
    position: fixed;
    left: 0;
    top:10%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height:fit-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .panel-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        .main{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap; 
            button{
                margin: 10px;
                background-color:#0049b7;
                height:50px;
                width:250px;
                padding: 20px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                p{
                    
                    font-family: 'Roboto-Bold', sans-serif;
                    font-size: 14px;
                    color:white;
                }
            }
        }
    }

}