.login-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    height:fit-content;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .login-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        .login-content__header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 15px;
            p{
                margin: 0;
                font-family: 'Roboto-Bold', sans-serif;
                font-size: 22px;
                color:black;
            }
        }
        .login-content__main{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap; 
            .helperText{
                p{
                    margin: 0;
                    font-family: 'Roboto-Regular', sans-serif;
                    font-size: 12px;
                    color:red;
                    
                }
            }
        }
        .login-content__footer{
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            button{
                margin: 10px;
                background-color:#0049b7;
                height:50px;
                width:250px;
                padding: 20px;
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                p{
                    
                    font-family: 'Roboto-Bold', sans-serif;
                    font-size: 14px;
                    color:white;
                }
            }
        }
    }

}